
screenshots/\.DS_Store

\.DS_Store

*.xcuserstate

CircleColorPicker\.xcodeproj/project\.xcworkspace/xcuserdata/laszlopinter\.xcuserdatad/

CircleColorPicker\.xcodeproj/xcuserdata/laszlopinter\.xcuserdatad/xcdebugger/
